:root {
  --color-primary: #F9571C;
  --color-secondary: #FFFFFF;
  --color-accent: #CCCCCC;
  --font-body: 'Montserrat', sans-serif;
  --font-heading: 'Bebas Neue', sans-serif;
}

.primary-color {
  color: var(--color-primary);
}

.secondary-color {
  color: var(--color-secondary);
}

.accent-color {
  color: var(--color-accent);
}

/* --- ESTILOS GERAIS E RESETS --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* Fonte padrão do corpo, ajuste conforme necessário */
}

body {
  background-color: #000000;
  color: #FFFFFF;
}

section {
  max-width: 1000px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

img {
  max-width: 100%;
  height: auto;
}

/* --- BOTÕES --- */
.btn-primary {
  background-color: #F9571C;
  /* Laranja principal */
  color: #FFFFFF;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;

}

.btn-primary:hover {
  background-color: #e04a18;
}

.btn-orange {
  display: inline-flex;
  align-items: center;
  background-color: #F9571C;
  color: #FFFFFF;
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.btn-orange:hover {
  background-color: #e04a18;
}

.btn-black {
  background-color: #000000;
  color: #FFFFFF;
  padding: 12px 30px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #FFFFFF;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.btn-black:hover {
  background-color: #FFFFFF;
  color: #000000;
}

/* --- TÍTULOS --- */
h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue', sans-serif;
  /* Fonte robusta/serifada para títulos, ajuste conforme necessário */
  text-transform: uppercase;
}

/* --- HEADER / NAVEGAÇÃO --- */
header {
  position: absolute;
  top: 0;
  background-color: transparent;
  min-width: 100%;
  /* padding: 15px 0; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  height: 80px;
}

header nav ul {
  display: flex;
  gap: 30px;
}

header nav a {
  font-size: 14px;
  color: #CCCCCC;
}

header nav a:hover,
header nav a.active {
  color: #F9571C;
  border-bottom: 2px solid #F9571C;
  padding-bottom: 5px;
}

/* --- SEÇÃO HERO --- */
.hero {
  padding: 90px 0;
  overflow: hidden;
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.9) 0%,

      rgba(0, 0, 0, 0.5) 30%,

      transparent 60%);
  position: relative;
  border-bottom: 4px solid #F9571C;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  top: 50px;
  position: relative;
  max-width: 50%;
  margin-top: 50px;
}

.hero .subtitle {
  color: var(--color-primary);
  font-size: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  display: block;
}

.hero h1 {
  font-size: 60px;
  padding-left: 60px;
  transform: scaleY(2.9) scaleX(1.5);
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 40px;
  font-style: italic;

  /* TEXTURA */
  background: url('../image/grunge.png');
  background-size: cover;
  background-position: center;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.hero p {
  color: #CCCCCC;
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 335px;
}

.hero-image {
  position: absolute;

  object-position: left center;
  top: -30px;
  left: 0;
  width: 110vw;
  z-index: -1;
}

.hero-image img {
  width: 73%;
  height: auto;
  top: 45px;
  position: relative;
  /* object-fit: contain; */
}

#hero,
#brand {
  border-bottom: 1px solid var(--color-primary);
}



/* --- SEÇÃO A MARCA --- */
.brand {
  position: relative;
  padding: 80px 0;
  background-color: #000;
  max-height: 300px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 4px solid #F9571C;
}

.brand::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 45%,
      rgba(0, 0, 0, 0.6) 80%,
      transparent 85%);
  z-index: 1;
}

.grid-brand {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.2fr;
  gap: 40px;
  align-items: start;
  position: relative;
  z-index: 2;
  /* Garante que o texto fique acima do gradiente e da imagem */
}

.brand-col-1 h2 {
  font-size: 25px;
  width: 100%;
  line-height: 1.1;
  margin-bottom: 40px;
  font-weight: 900;
  color: white;
}

.section-title-small {
  color: var(--color-primary);
}


.features {
  display: flex;
  gap: 20px;
}

.feature-item {
  text-align: center;
  max-width: 100px;
}

.feature-item img {
  width: 70px;
  height: auto;
  margin-bottom: 25px;
}

.feature-item span {
  font-size: 10px;
  transform: scaleY(1.5);
  font-weight: bold;
  display: block;
  line-height: 1.2;
}

.brand-col-2 {
  padding-top: 20px;
  /* Alinhamento visual com o topo do título */
}

.brand-col-2 p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 20px;
  line-height: 1.5;
}

.brand-col-2 .quote {
  font-size: 25px;
  font-weight: 900;
  color: #F9571C;
  margin-top: 30px;
}

/* Responsividade: em celulares, vira uma coluna só */
@media (max-width: 992px) {
  .grid-brand {
    grid-template-columns: 1fr;
  }

  .brand-col-3 {
    display: none;
  }
}

.brand-image {
  position: absolute;
  top: 0;
  right: -40px;
  width: 75%;
  height: 140%;
  z-index: 0;
  overflow: hidden;
}

.brand-image img {
  position: absolute;
  top: -60px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center top;
}

.nossos-produtos {
  padding: 30px 0;
  background: #000;
}

.nossos-produtos h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 25px;
}

.nossos-produtos h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #F9571C;
  margin: 10px auto 0 auto;
}

.produto-digital {
  background: linear-gradient(15deg, #000000 0%, #000000 45%, rgba(249, 87, 28, 0.15) 80%, rgba(249, 87, 28, 0.35) 100%);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 14px;
  padding: 15px 30px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  position: relative;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

.produto-digital::after {
  content: "";
  position: absolute;
  right: -100px;
  bottom: -100px;
  width: 400px;
  height: 400px;
  background: rgba(249, 87, 28, 0.2);
  filter: blur(120px);
  border-radius: 50%;
  z-index: 0;
}

.app-mockup {
  max-width: 420px;
  z-index: 2;
}

.app-mockup img {
  width: 70%;
  left: -100px;
  top: -70px;
  display: block;
  position: absolute;
  filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.8));
  transition: transform 0.4s ease;
}

.app-mockup img:hover {
  transform: scale(1.05) rotate(-1deg);
}

.produto-info {
  max-width: 520px;
  z-index: 2;
}

.produto-info .info-label {
  color: var(--color-primary);
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.produto-info h3 {
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
  font-weight: 800;
}

.produto-info p {
  width: 430px;
  color: #EAEAEA;
  margin-bottom: 15px;
  line-height: 1.7;
  font-size: 12px;
}

.check-list {
  margin-bottom: 35px;
}

.check-list li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 12px;
  color: #fff;
}

.check-list .check-icon {
  background: #F9571C;
  color: #000;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  font-size: 12px;
}

.app-buttons {
  display: flex;
  gap: 15px;
}

.app-buttons img {
  height: 45px;
  transition: transform 0.3s ease;
}

.app-buttons img:hover {
  transform: scale(1.08);
}

@media (max-width: 900px) {
  .produto-digital {
    flex-direction: column;
    text-align: center;
    padding: 40px;
  }

  .produto-info {
    max-width: 100%;
  }

  .app-mockup {
    max-width: 280px;
  }

  .produto-info h3 {
    font-size: 40px;
  }
}

/* --- SEÇÃO MAIS QUE UMA MARCA --- */
.lifestyle {
  padding: 10px 0;
  background: #000;
  display: flex;
  align-items: center;
}

.lifestyle .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  align-items: stretch;
  margin: 20px 0;
  width: 100%;
}

/* TEXTO */
.lifestyle .content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lifestyle h2 {
  font-size: 25px;
  line-height: 1.2;
}

.lifestyle h2 span {
  color: #F9571C;
}

.lifestyle p.subtitle {
  font-size: 17px;
  font-weight: bold;
  color: #F9571C;
  margin-top: 20px;
}

.lifestyle .span-title-small {
  font-size: 15px;
  font-weight: bold;
  margin-top: none !important;
}

.lifestyle .title-small {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}

.lifestyle p.title-small {
  color: #CCCCCC;
  /* margin-top: 18px; */
  line-height: 1.6;
}

.lifestyle .title-small p {
  font-size: 15px;
  font-weight: bold;
}

.lifestyle p.highlight {
  font-size: 26px;
  font-weight: bold;
  color: #F9571C;
  margin-top: none !important;
}

.grid-imagens {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  height: 100%;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.grid-item img {
  width: 100%;
  height: 100%;
  /* 🔥 ESSENCIAL */
  object-fit: cover;
  display: block;

  transition: transform 0.4s ease;
}

.grid-item:hover img {
  transform: scale(1.08);
}

.grid-item::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.2),
      transparent);
}

/* --- SEÇÃO FAÇA PARTE DO MOVIMENTO --- */
.faca-parte {
  position: relative;
  background: linear-gradient(90deg, #d84315 0%, #F9571C 40%, #ff6a2c 100%);
  padding: 40px 0;
  overflow: hidden;
}

.faca-parte .container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.faca-parte-content {
  max-width: 500px;
}

.faca-parte-content h3 {
  font-size: 25px;
  color: #FFFFFF;
  margin-bottom: 10px;
  transform: scaleY(1.5);
}

.faca-parte-content p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  line-height: 1.6;
}

.btn-black {
  background: #000;
  color: #fff;
  padding: 16px 28px;
  text-decoration: none;
  width: 225px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
}

.btn-black span {
  min-height: 20px;
  color: var(--color-primary);
  transform: scale(1.5);
}

.btn-black:hover {
  background: #111;
  transform: translateY(-2px);
}

.btn-black:hover span {
  transform: translateX(2px);
}

.bg-mascote {
  position: absolute;
  right: -111px;
  top: -51px;
  max-height: 670%;
  opacity: 0.15;
  pointer-events: none;
  z-index: -1;
}

/* --- FOOTER --- */
footer {
  padding: 60px 0 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  max-width: 1000px;
}

.footer-logo-info{
  position: relative;
}

.footer-logo-info img {
  height: 100px;
  margin-bottom: 15px;
}

.footer-logo-info p {
    font-size: 10px;
    color: #CCCCCC;
    position: absolute;
    top: 70px;
    left: 90px;
}

.footer-links h4,
.footer-social h4 {
  margin-bottom: 15px;
  color: #F9571C;
  font-size: 16px;
}

.footer-links ul {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #CCCCCC;
  font-size: 14px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  height: 20px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer-bottom > .container {
  display: flex;
  justify-content: center;
}

.footer-bottom p {
  margin-top: 20px;
  font-size: 12px;
  color: #777777;
  text-align: center;
}

.reg {
  font-size: 8px;
  vertical-align: super;
}